<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<style>
    .center-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .form-group.select {
        margin-top: 3rem;
    }

    .form-group.select label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: #28a745;
        /* Custom color for label text */
    }

    .form-group.select select {
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }
</style>
<div class="center-form">
    <form class="bg-light text-center col-md-8" action="/game/add" method="post">
        <div>
            <h1 class="text text-primary">Add new game</h1>
        </div>
        <div class="form-group mt-3">
            <label class="text text-success">Name</label>
            <input class="form-control" type="text" name="name" required>
        </div>
        <div class="form-group mt-3">
            <label class="text text-success">Category</label>
            <input class="form-control" type="text" name="category" required>
        </div>
        <div class="form-group mt-3">
            <label class="text text-success">Quantity</label>
            <input class="form-control" type="number" name="quantity" required>
        </div>
        <div class="form-group mt-3">
            <label class="text text-success">Price</label>
            <input class="form-control" type="number" name="price" required>
        </div>
        <div class="form-group mt-3">
            <label class="text text-success">Image</label>
            <input class="form-control" type="text" name="image" required>
        </div>
        <div class="form-group mt-3">
            <a class="btn btn-secondary" href="/game"
                onclick="return confirm('Unsaved Information will be lost!');">Cancel</a>
            </a>
            <input class="btn btn-danger" type="submit" value="Add">
        </div>
</div>
</form>